.container {
  width: 100vw;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30%;
  padding-right: 30%;
}
.content {
  width: 100%;
  overflow: hidden;
}

.header h1 {
  margin-top: 18px;
  margin-bottom: 18px;
}

.ccss-center, .ccss-centre, .ccss-centered, .ccss-centred {
  text-align: center;
}

hr.ccss-break {
  margin-left: 10px;
  margin-right: 10px;
  border-style: none;
  border-bottom: 1px solid gray;
}
hr.ccss-break.medium {
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: 1px solid gray;
}
hr.ccss-break.small {
  margin-left: 80px;
  margin-right: 80px;
  border-bottom: 1px solid lightgray;
}
code {
  font-family: "Courier New", monospace;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background: #ededed;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
code.scrollable {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  display: block;
}

.documentation {

}