* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

//
// Flex display content
//


// Flex Column
.ccss-flex-container-col {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.ccss-flex-container-col .ccss-flex-header {
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  border-bottom: 1px solid $colour-base;
}

.ccss-flex-container-col .ccss-flex-content {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: auto;
  overflow-y: auto;
}

.ccss-flex-container-col .ccss-flex-footer {
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  border-top: 1px solid $colour-base;
}


// Flex Row
.ccss-flex-container-row {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 100%;
}

.ccss-flex-container-row .ccss-flex-hard-left {
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  border-right: 1px solid $colour-base;
}

.ccss-flex-container-row .ccss-flex-content {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: auto;
  overflow-y: auto;
  border-right: 1px solid $colour-base;
}

.ccss-flex-container-row .ccss-flex-hard-right {
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
}