p, i, label, button, input, textarea, body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 100;
}

b {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.no-margin {
  margin: 0;
}

@mixin margins($_top_margin, $_bottom_margin) {
  margin-top: 0;
  margin-bottom: $_bottom_margin;

  &.include-top {
    margin-top: $_top_margin;
  }
}

h1 {
  font-size: 3em;
  @include margins(18px, 18px);
}

h2 {
  font-size: 2em;
  @include margins(16px, 16px);
}

h3 {
  font-size: 1.5em;
  @include margins(14px, 14px);
}

h4 {
  font-size: 1.17em;
  @include margins(12px, 12px);
}

h5 {
  font-size: 1em;
  @include margins(10px, 10px);
}

h6 {
  font-size: 0.85em;
  @include margins(8px, 8px);
}

p {
  @include margins(10px, 10px);
}

a {
  text-decoration: none;
  color: $colour-true-black;
}

a:hover {
  text-decoration: underline;
  color: $colour-blue;
}

code {
  font-family: "Courier New", monospace;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background: #ededed;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

code.scrollable {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  display: block;
}

code.full {
  display: block;
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline !important;
}

/*
Custom Styles
 */
.ccss-center, .ccss-centre, .ccss-centered, .ccss-centred {
  text-align: center;
}