///
/// Constants that will be used across multiple files
///

// Colours
$colour-white: #FFFFFF;
$colour-base: #E6E6E6;
$colour-red: #D43535;
$colour-orange: #D47A35;
$colour-yellow: #D4BE35; //#D4BC35;
$colour-green: #30BF45; //#35D43D
$colour-light-blue: #34C4CF; //#35D4CC
$colour-blue: #3572D4;
$colour-purple: #7A35D4;
$colour-black: #111111;
$colour-true-black: #000;
$colour-light-gray: #e6e6e6;
$colour-gray: #999999;
$colour-dark-gray: #595959;